@import './_variable.scss';

/**
banner
**/

.banner {
    #banner-img {
        background-image: url(../images/projects-banner.jpg);
        background-repeat: no-repeat;
        background-position: 50% 10%;
        height: 250px;
    }
    .overlay {
        position: absolute;
        background-color: rgba(65, 155, 155, 0.5);
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .title1 {
        font-weight: bold;
        color: white;
    }
}


/**
our-works
**/

.our-works {
    .custom-btn-2 {
        color: #363636;
        background-color: white;
        border: none;
        border-radius: 1px;
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 25px;
        &:hover,
        &:focus {
            color: white;
            background-color: $main-color;
            border: none;
        }
    }
}